/* Uniquement la gestion des variables internes d'Ionic */

.history-section {
  box-shadow: none;
  --background: #e9e9e9;
}

.view-all-button {
  --color: #159947;
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --box-shadow: none;
  
  /* Désactive la mise en majuscule automatique d'Ionic */
  text-transform: none; 
}