.history-section {
  width: 100%;
  background: #e9e9e9;
  border-radius: 6px;
  margin-top: 16px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  /* Pour enlever le style par défaut de IonCard */
  box-shadow: none;
  --background: #e9e9e9;
}

.history-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px 12px 0 12px;
}

.history-title {
  margin: 0;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  letter-spacing: -0.4px;
}

.view-all-button {
  margin: 0;
  padding: 0;

  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 800;

  --color: #159947;
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --box-shadow: none;

  text-transform: none;
}

.history-content {
  min-height: 110px;
  margin-top: 16px;
  padding: 0 12px 14px 12px;
}