.language-button {
  width: 44px;
  height: 44px;
  margin: 0;

  --background: #ffffff;
  --background-hover: #ffffff;
  --background-activated: #ffffff;
  --color: #000000;
  --border-radius: 50%;
  --box-shadow: none;

  --padding-start: 0;
  --padding-end: 0;
}